@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    theme("colors.primary.600"),
    theme("colors.primary.300")
  );
  min-height: 100%;
}

.parallax-bg {
  background: linear-gradient(
    to bottom,
    theme("colors.primary.600"),
    theme("colors.primary.300")
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1154px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
