[data-scroll="false"] .showInitial,
[data-scroll="true"] .showScroll {
  transition: opacity 0.5s ease-in-out, transform 0.25s ease-in-out,
    -webkit-transform 0.25s ease-in-out;
  opacity: 1 !important;
  transform: scale(1);
  -webkit-transform: scale(1, 1);
}

[data-scroll="true"] .showInitial,
.showScroll,
[data-scroll="false"] .showScroll {
  transition: opacity 0.5s ease-in-out, transform 0.25s ease-in-out,
    -webkit-transform 0.25s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5);
}
