.grid {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.main {
  grid-column: 1 / 7;
  grid-row: 1 / 1;

  @apply text-center;
}
